.eye-tracker-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .eye-tracker-menu h1 {
    margin: 0;
  }
  
  .eye-tracker-menu button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #009879;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
  }
  
  .eye-tracker-menu button:hover {
    background-color: #009879;
  }
  
  .eye-tracker-menu button:first-child {
    margin-top: 20px;
  }
  